@model Clase4.MVC.Web.Models.DiaInternacionalModel
@{
    Layout = "_CalendarioLayout";
}
<h3>Agregar Día Internacional</h3>

<form action="/DiasInternacionales/Crear" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.Fecha)
        @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
