@using System.Globalization
@model IEnumerable<Clase4.MVC.Web.Models.FeriadoModel>
@{
}

<h2>Feriados</h2>
<ul>
@foreach (var feriado in Model)
{
    <li>@feriado.Fecha.Day de @feriado.Fecha.ToString("MMMM",CultureInfo.CreateSpecificCulture("es-ar")) (@feriado.Fecha.ToString("dddd",CultureInfo.CreateSpecificCulture("es-ar"))) - @feriado.Descripcion (@(feriado.EsInamovible ? "Inamovible" : "Trasladable"))</li>
}
</ul>
